<!DOCTYPE html>
<html>
  <head>
    <title>dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi <%= username %>!</h1>
    <p>Welcome to your dashboard</p>
  </body>
</html>